<div id="calculator_container">
    <div id="first_container">
        <h1>Calculator</h1>
        <p>Enter the first and second number of the operation you want, as well as the type of operation (addition, subtraction, multiplication or division). Use the "calculate" button to see the result of the operation.
           <br/> You can view the operation history below.</p>
    </div>
    <div id="main_container">
        <div class="mb-3">
            <label for="number_first" class="form-label">First number: </label>
            <input id="n1" type="number" [(ngModel)]="inputN1" placeholder="Write the first number"  />
        </div>

        <div class="mb-3">
          <label for ="operations" class="form-label">Choose the operation:</label>
            <select  [(ngModel)]="selectedOperation">
                <option *ngFor="let item of operationList" value="{{item}}">{{item}}</option> 
            </select>
          
        </div>

        <div class="mb-3">
            <label for="number_second" class="form-label">Second number: </label>
            <input type="number" [(ngModel)]="inputN2" placeholder="Write the second number" />
        </div>
        <div class="butons_container">
            <div class="mb-3">
              <button class="btn btn-success" (click)="calculate()">Calculate</button>
            </div>
            <div class="mb-3">
                <button class="btn btn-danger" (click)="cleanCalculator()">Clean</button>
            </div>
        </div>
    </div>
</div>
<div class="result_container">
  <h2 class="display_result">Resultado: {{inicialResult}} </h2>
</div>
<div class="historic_container">
  <h2>Historical Operations</h2>
  <div class="cards_container">
        <div class="card" style="width: 18rem;" *ngFor="let operation of calculatorService.getOperations()">
          <div class="card-header">
              Operation 
            </div>
        
          <ul class="list-group list-group-flush" >

            <li class="list-group-item">Time: {{ operation.time }} </li>
            <li class="list-group-item">Operation request: {{ operation.id }} </li>
            <li class="list-group-item">Result: {{ operation.result }}</li>
          </ul>
          <div class="button_card">
            <button class="btn btn-danger" (click)="cleanOperation(operation.id)">Clean Operation</button>
          </div>
        </div><!--end card-->
    </div><!--end cards_container-->
</div>
